@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&display=swap');
@import "tailwindcss";

body {
    font-family: 'Fira Code', monospace;
    background-color: #121212;
    color: #00ff00;
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #111;
}

::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}